<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files -->
	<link rel="stylesheet" href="/static/css/plugins.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/login&register.css">
	<script src="/static/js/jQuery-3.4.1.min.js"></script>
	<script src="/static/js/login&register.js"></script>
</head>
<body>
<!--preloading-->
<div id="preloader">
	<img class="logo" src="/static/img/front/logo1.png" alt="" width="119" height="58">
	<div id="status">
		<span></span>
		<span></span>
	</div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">

	<div class="login-content">
		<a href="javascript:void(0)" class="close">x</a>
		<h3>登录</h3>

		<form method="post" action="" id="loginForm">
			<div class="row">
				<span

				>
		</span>
				<label for="username"> 用户名:
					<input type="text"
						   name="username" id="username" placeholder="请输入用户名"/>
				</label>
			</div>

			<div class="row">
				<label for="password"> 密码:
					<input type="password" name="password"

						   id="password" placeholder="请输入密码"/>
				</label>
			</div>
			<div class="row">
				<div class="remember">
					<div>
						<input type="checkbox" id="remember" name="remember" value="1"><span>记住密码</span>
					</div>
					<!-- <a href="javascript:void(0)">忘记密码 ?</a> -->
				</div>
			</div>
			<div class="row">
				<button type="button" onclick="login()">登录</button>
			</div>
		</form>


		<!-- <div class="row">
            <p>其他方式登录</p>
            <div class="social-btn-2">
                <a class="fb" href="javascript:void(0)">QQ</a> <a class="tw" href="javascript:void(0)">微信</a>
            </div>
        </div> -->
	</div>
</div>
<!--end of login form popup--><!-- 注册------------------------------------------------------------- -->
<div class="login-wrapper" id="signup-content">
	<div class="login-content">
		<a href="javascript:void(0)" class="close">x</a>

		<h3>注册</h3>
		<form method="post" id="myform" action="">
			<div class="row">
				<label for="username-2"> 用户名:
					<input type="text" name="loginName" id="username-2" placeholder="8-20位，以字母开头"/>
					<span id="msg"></span>
				</label>
			</div>
			<div class="row">
				<label for="phoneNum"> 手机号:
					<input type="text" name="mobile" id="phoneNum" placeholder="手机号码"/>
					<a id="authCodemsg">获取验证码</a>
				</label>
			</div>
			<div class="row">
				<label for="code"> 验证码:
					<input type="text" name="code" id="code" placeholder="手机短信验证码"/>
					<span id="msg2"></span>
				</label>
			</div>
			<div class="row">
				<label for="password-2"> 密码:
					<input type="password" name="password" id="password-2"
						   placeholder="请以字母开头，长度在6~18之间，只能包含字母、数字和下划线"/>
				</label>
			</div>
			<div class="row">
				<label for="repassword-2"> 确认密码:
					<input type="password" id="repassword-2" placeholder="请再次输入密码"/>
				</label> <span id="msg1"></span>
			</div>
			<div class="row">
				<button type="button" onclick="register()">注册</button>
			</div>
		</form>
	</div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
				<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<a href="index.html"><img class="logo" src="/static/img/front/logo1.png" alt="" width="119" height="58"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="dropdown first">
						<a href="/movie/getIndexMovies">
							首页</i>
						</a>
					</li>
					<li class="dropdown first">
						<a href="/movie/toMovieGrid">电影</a>
					</li>
					<li class="dropdown first">
						<a href="/cele/toCeleGrid">知名演员</a>
					</li>

					<li class="dropdown first">
						<a href="javaScript:void(0)">社区</a>
					</li>
				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">

					<li><a href="#">帮助</a></li>

					<li class="loginLink" th:if="${session.user == null}"><a href="javascript:void(0)">登录</a></li>
					<li class="btn signupLink" th:if="${session.user == null}"><a href="javascript:void(0)">注册</a></li>
					<li class="dropdown first" th:if="${session.user != null}">
						<a class="btn btn-default " th:text="'欢迎登录'+${session.user.userName}">
							${sessionScope.user.loginName}</a></li>
					<li class="dropdown first" th:if="${session.user != null}">
						<a class="btn btn-default " href="/user/toUserCenter"> 个人中心 </a></li>

					<li class="dropdown first" th:if="${session.user != null}">
						<a class="btn btn-default " onclick="exit()">退出</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<!-- top search form -->
		<!-- <div class="top-search">
             <select>
                 <option value="united">TV show</option>
                 <option value="saab">其他</option>
             </select>
             <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
         </div>-->
	</div>
</header>
<!-- END | Header -->


<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>celebrity listing - list</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> celebrity listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- celebrity list section-->
<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p class="pad-change">Found <span>1,608 celebrities</span> in total</p>
					<label>Sort by:</label>
					<select>
						<option value="popularity">Popularity Descending</option>
						<option value="popularity">Popularity Ascending</option>
						<option value="rating">Rating Descending</option>
						<option value="rating">Rating Ascending</option>
						<option value="date">Release date Descending</option>
						<option value="date">Release date Ascending</option>
					</select>
					<a href="celebritylist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
					<a  href="celebritygrid01.html" class="grid"><i class="ion-grid "></i></a>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="images/uploads/ceblist1.jpg" alt="">
							<div class="ceb-infor">
								<h2><a href="celebritySingle.html">Dan Stevens</a></h2>
								<span>actor, usa</span>
								<p>Dan Stevens was born at Croydon in Surrey on 10th October 1982. His parents are teachers. He was educated at Tonbridge School and trained in acting at the National Youth Theatre of Great Britain... </p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="images/uploads/ceblist2.jpg" alt="">
							<div class="ceb-infor">
								<h2><a href="celebritySingle.html">Luke Evans</a></h2>
								<span>actor, mexico</span>
								<p>Luke George Evans was born in Pontypool, Wales, and grew up in Aberbargoed, in the south of Wales. He is the son of Yvonne (Lewis) and David Evans. He moved to Cardiff at the age 17...</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="images/uploads/ceblist3.jpg" alt="">
							<div class="ceb-infor">
								<h2><a href="celebritySingle.html">Scarlett Johansson</a></h2>
								<span>actress, france</span>
								<p>Scarlett Ingrid Johansson was born in New York City. Her mother, Melanie Sloan, is from a Jewish family from the Bronx, and her father, Karsten Johansson, is a Danish-born architect, from Copenhagen...</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="images/uploads/ceblist4.jpg" alt="">
							<div class="ceb-infor">
								<h2><a href="celebritySingle.html">Emma Watson</a></h2>
								<span>actress, uk</span>
								<p>Emma Charlotte Duerre Watson was born in Paris, France, to English parents, Jacqueline Luesby and Chris Watson, both lawyers. She moved to Oxfordshire when she was five...</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="images/uploads/ceblist5.jpg" alt="">
							<div class="ceb-infor">
								<h2><a href="celebritySingle.html">Tom Hardy</a></h2>
								<span>actor, italy	</span>
								<p>Joan Crawford was born Lucille Fay LeSueur on March 23, 1905, in San Antonio, Texas, to Anna Belle (Johnson) and Thomas E. LeSueur, a laundry laborer. By the time she was born her parents had separated....</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="images/uploads/ceblist6.jpg" alt="">
							<div class="ceb-infor">
								<h2><a href="celebritySingle.html">Joan Crawford</a></h2>
								<span>director, sweden</span>
								<p>Joan Crawford was born Lucille Fay LeSueur on March 23, 1905, in San Antonio, Texas, to Anna Belle (Johnson) and Thomas E. LeSueur, a laundry laborer. By the time she was born her parents had separated....</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="images/uploads/ceblist7.jpg" alt="">
							<div class="ceb-infor">
								<h2><a href="celebritySingle.html">Margot Robbie</a></h2>
								<span>actress, chile</span>
								<p>Margot Robbie is an Australian actress born in Dalby, Queensland, and raised on the Gold Coast, spending much of her time at the farm belonging to her grandparents. Her mother, Sarie Kessler, is a physiotherapist....</p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="images/uploads/ceblist8.jpg" alt="">
							<div class="ceb-infor">
								<h2><a href="celebritySingle.html">Jason Momoa</a></h2>
								<span>actor, usa</span>
								<p>Joseph Jason Namakaeha Momoa was born on August 1, 1979 in Honolulu, Hawaii. He is the son of Coni (Lemke), a photographer, and Joseph Momoa, a painter...</p>
							</div>
						</div>
					</div>
				</div>
				<div class="topbar-filter">
					<label>Reviews per page:</label>
					<select>
						<option value="range">36 Reviews</option>
						<option value="saab">18 Reviews</option>
					</select>
					
					<div class="pagination2">
						<span>Page 1 of 6:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12">
				<div class="sidebar">
						<div class="searh-form">
						<h4 class="sb-title">Search celebrity</h4>
						<form class="form-style-1 celebrity-form" action="#">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Celebrity name</label>
									<input type="text" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Celebrity Letter</label>
									<select>
									  <option value="range">A</option>
									  <option value="saab">B</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Category</label>
									<select>
									  <option value="range">Actress</option>
									  <option value="saab">Others</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Year of birth</label>
									<div class="row">
										<div class="col-md-6">
											<select>
											  <option value="range">1970</option>
											  <option value="number">Other</option>
											</select>
										</div>
										<div class="col-md-6">
											<select>
											  <option value="range">1990</option>
											  <option value="number">others</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="">
					</div>
					<div class="celebrities">
						<h4 class="sb-title">featured celebrity</h4>
						<div class="celeb-item">
							<a href="#"><img src="images/uploads/ava1.jpg" alt=""></a>
							<div class="celeb-author">
								<h6><a href="#">Samuel N. Jack</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<div class="celeb-item">
							<a href="#"><img src="images/uploads/ava2.jpg" alt=""></a>
							<div class="celeb-author">
								<h6><a href="#">Benjamin Carroll</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<div class="celeb-item">
							<a href="#"><img src="images/uploads/ava3.jpg" alt=""></a>
							<div class="celeb-author">
								<h6><a href="#">Beverly Griffin</a></h6>
								<span>Actor</span>
							</div>
						</div>
						<div class="celeb-item">
							<a href="#"><img src="images/uploads/ava4.jpg" alt=""></a>
							<div class="celeb-author">
								<h6><a href="#">Justin Weaver</a></h6>
								<span>Actor</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end of celebrity list section-->

<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="index.html"><img class="logo" src="/static/img/front/logo1.png" alt=""></a>
				<p>翻斗大街翻斗花园<br>
					二号楼1001</p>
				<p>致电我们: <a href="#">(+01) 123456789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>资源</h4>
				<ul>
					<li><a href="#">关于</a></li>
					<li><a href="#">大片</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">论坛</a></li>
					<li><a href="#">博客</a></li>
					<li><a href="#">帮助中心</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>法律</h4>
				<ul>
					<li><a href="#">使用条款</a></li>
					<li><a href="#">隐私政策</a></li>
					<li><a href="#">安全</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>账户</h4>
				<ul>
					<li><a href="#">我的账户</a></li>
					<li><a href="#">监视清单</a></li>
					<li><a href="#">收藏</a></li>
					<li><a href="#">用户指南</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>通讯</h4>
				<p>立即订阅我们的新闻通讯系统， <br> 以获取我们的最新新闻。</p>
				<form action="#">
					<input type="text" placeholder="你的电子邮箱...">
				</form>
				<a href="#" class="btn">现在订阅<i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2017 MH. All Rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>. Designed by
				ws.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">回到顶部 <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>
</html>