<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<!-- Basic need -->
	<title>电影之家</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="/static/css/plugins.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/login&register.css">
	<link rel="stylesheet" href="/static/css/comment.css">
	<script src="/static/js/jQuery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/login&register.js"></script>-
	<script src="/static/js/starScore.js"></script>


	<script type="text/javascript">
		$(function() {
			getActorsById();
			getCommentsById();
			getDirWsById();
			getRelatedMovies();
			checkCollect();
			$("#areviews").click(function() {
				$("#overview").hide();
				$("#reviews").show();
				$(".tabs-mv li:nth-child(2)").addClass("active");
				$(".tabs-mv li:not(:nth-child(2))").removeClass("active");
			})

		});



		function getDirWsById() {
			var movieId = $("#movieId").val();
			$.ajax({
				type: "GET",
				url: "/dirW/getDirWsByMovieId",
				data: "movieId="+movieId,
				dataType: "JSON",
				success: function (list) {
					var d = '';
					var w = '';
					for(var i = 0;i < list.length; i++){
						var dirw = list[i];
						if(dirw.status !== 1){
							d+='<a href="#"> '+dirw.name+'&nbsp;&nbsp;&nbsp; </a>';
						}

						if(dirw.status !== 2){
							w+='<a href="#"> '+dirw.name+'&nbsp;&nbsp;&nbsp; </a>';
						}
					}
					$("#driItem").html(d);
					$("#writerItem").html(w);
				}
			});
		}

		function getCommentsById(page) {
			var movieId = $("#movieId").val();
			var size = $("#size").val();
			var orderBy =$("#orderBy").val();
			if(page === undefined){
				page = 1;
			}
			$.ajax({
				type: "GET",
				url: "/comment/getCommentsById",
				data: "movieId="+movieId+"&size="+size+"&page="+page+"&orderBy="+orderBy,
				dataType: "JSON",
				success: function (pageInfo) {
					$("#reviewTotal").text(pageInfo.total+'条');
					var s = '';
					var pageStr='<span style="position: relative; left: -80px;">页数 1 - '+pageInfo.pages+' :</span>'+
							'<a href="JavaScript:void(0)" onclick="getCommentsById(1)" href="">首页</a>'+
							'<a href="JavaScript:void(0)" onclick="getCommentsById('+ pageInfo.prePage +')" href="">&lt;</a>';

					for(var i = 1;i <= pageInfo.pages;i++){
						if(i === pageInfo.pageNum){
							pageStr+='<a style="color:yellow;" href="JavaScript:void(0)" onclick="getCommentsById('+i+')"> '+ i +' </a>';
						}else{
							pageStr+='<a  href="JavaScript:void(0)" onclick="getCommentsById('+i+')"> '+ i +' </a>';
						}
					}
					for(var i = 0;i < pageInfo.list.length; i++){

						var comment = pageInfo.list[i];
						var date = formatDate(comment.date);
						s+='<div class="mv-user-review-item">'+
								'<div class="user-infor">'+
								'<img src="/static/img/front/uploads/userava1.jpg" alt="">'+
								'<div>'+
								'<div class="no-star">';
						for(var r = 0;r < 10;r++){
							if(r<comment.rate){
								s+='<i class="ion-android-star"></i>';
							}
							else{
								s+='<i class="ion-android-star last"></i>';
							}
						}
						s+='</div><p class="time">&nbsp;'+date+'&nbsp;&nbsp;by<a href="#"> hawaiipierson</a>'+
								'</p></div></div>'+
								'<p>'+comment.comments+'</p>'+
								'</div>';

						if(i === 1){
							$("#commentItem1").html(s);
						}
					}
					pageStr+='<a href="JavaScript:void(0)" onclick="getCommentsById('+ pageInfo.nextPage +')" href="">&gt;</a>'+
							'<a href="JavaScript:void(0)" onclick="getCommentsById('+pageInfo.pages+')" href="">尾页</a>';
					$("#commentItem2").html(s);
					$(".pagination2").html(pageStr);

				}
			});
		}
		function getActorsById(){
			var movieId = $("#movieId").val();
			$.ajax({
				type: "GET",
				url: "/actor/getActorsById",
				data: "movieId="+movieId,
				dataType: "JSON",
				success: function (list) {
					var s = '';
					var star = '';
					for(var i = 0;i < list.length; i++){
						var actor = list[i];
						if(i < 5){
						s+='<div class="cast-it"'+
								'<div class="cast-left">'+
								'<img src="https://dfstest01.oss-cn-beijing.aliyuncs.com/img/actors/'+actor.actorId+'.jpg" alt="" width="65" height="80">'+
								'<a href="/cele/getCeleById?id='+actor.actorId+'" >'+actor.name+'</a>'+
								'<p style="position:absolute;left: 300px;">'+actor.homePlace+'</p></div>';
						}
						if(i === list.length -1){
							star +='<a href="/cele/getCeleById?id='+actor.actorId+'">'+actor.name+' </a>';
						}
						else{
							star +='<a href="/cele/getCeleById?id='+actor.actorId+'">'+actor.name+'</a> / ';
						}
					}
					$("#actorItem").html(s);
					$("#starItem").html(star);
				}
			});
		}
		function getRelatedMovies() {

			var movieId = $("#movieId").val();
			$.ajax({
				type: "GET",
				url: "/movie/getMovieRelated",
				data: "movieId=" + movieId,
				dataType: "JSON",
				complete: function () {
					$("#pload").remove();
				},
				success: function (list) {
					var s = '';
					for(var i = 0;i<list.length;i++){
						var movie = list[i];
						s+='<div class="movie-item-style-2">'+
						'<img src="https://dfstest01.oss-cn-beijing.aliyuncs.com/img/movies/'+movie.movieId+'.jpg" alt="" width="180px" height="200px"> '+
						'<div class="mv-item-infor">'+
						'<h6><a href="/movie/getMovieById?movieId='+movie.movieId+'">'+movie.name+'</a></h6>'+
						'<p class="rate"><i class="ion-android-star"></i><span>'+movie.rate+'</span> /10</p>';
						if(movie.movieInfo != null){
							s+='<p  id="relatedMovieInfo">'+movie.movieInfo+'</p><br/>';
						}
						if(movie.alias !== null){
							s+='<p class="run-time">别名: '+movie.alias+'</p>';
						}
						if(movie.releaseDate !== null){
							s+='<p class="run-time">上映时间: '+formatDate(movie.releaseDate)+'</p>';
						}
						s+= '<p>导演 :';
						if(movie.dirWList.length !== 0){
							for(var x = 0;x < movie.dirWList.length;x++){
								if(x < 3){
									s+= '<a href="#"> '+movie.dirWList[x].name+' </a>';
								}else{
									s+= '<span> ...... </span>';
									break;
								}

							}
						}
						s+='</p><p>类型:';
						if(movie.typeList.length !== 0){
							for(var x = 0;x < movie.typeList.length;x++){
								s+= '<span> '+movie.typeList[x].typeName+' </span>';
							}
						}
						s+='</p>'+
						'</div></div>';
					}
					$("#relatedMovies").html(s);
				}

			})
		}
		function checkCollect(){
			var userId = $("#userId").val();
			var movieId =$("#movieId").val();
			var data ="userId="+userId+"&movieId="+movieId;
			$.ajax({
				type : "GET",
				url : "/movie/checkCollect",
				data : data,
				dataType: 'json',
				success : function(msg) {
					if(!msg){
						$("#userCollectText").html("添加到收藏夹");
					}
					else{
						$("#userCollectText").html("取消收藏");
					}
				}
			});
		}
		function addCollect(){
			var userId = $("#userId").val();
			var movieId =$("#movieId").val();
			if(userId === ""){
				$("#login-content").parents($(".overlay")).addClass("openform");
				$(document).on('click', function(e){
					var target = $(e.target);
					if ($(target).hasClass("overlay")){
						$(target).find( $("#login-content")).each( function(){
							$(this).removeClass("openform");
						});
						setTimeout( function(){
							$(target).removeClass("openform");
						}, 350);
					}
				});
				return;
			}
			var data ="userId="+userId+"&movieId="+movieId;
			$.ajax({
				type : "GET",
				url : "/movie/addCollect",
				data : data,
				success : function (msg) {
					alert(msg);
					window.location.reload();
				}
			});
		}
	</script>
</head>
<body>
<!--preloading-->
<div id="preloader">
	<img class="logo" src="/static/img/front/logo1.png" alt="" width="119" height="58">
	<div id="status">
		<span></span>
		<span></span>
	</div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">

	<div class="login-content">
		<a href="javascript:void(0)" class="close">x</a>
		<h3>登录</h3>

		<form method="post" action="" id="loginForm">
			<div class="row">
				<span></span>
				<label for="username"> 用户名:
					<input type="text"
						   name="username" id="username" placeholder="请输入用户名"/>
				</label>
			</div>

			<div class="row">
				<label for="password"> 密码:
					<input type="password" name="password"

						   id="password" placeholder="请输入密码"/>
				</label>
			</div>
			<div class="row">
				<div class="remember">
					<div>
						<input type="checkbox" id="remember" name="remember" value="1"><span>记住密码</span>
					</div>
					<!-- <a href="javascript:void(0)">忘记密码 ?</a> -->
				</div>
			</div>
			<div class="row">
				<button type="button" onclick="login()">登录</button>
			</div>
		</form>


		<!-- <div class="row">
            <p>其他方式登录</p>
            <div class="social-btn-2">
                <a class="fb" href="javascript:void(0)">QQ</a> <a class="tw" href="javascript:void(0)">微信</a>
            </div>
        </div> -->
	</div>
</div>
<!--end of login form popup--><!-- 注册------------------------------------------------------------- -->
<div class="login-wrapper" id="signup-content">
	<div class="login-content">
		<a href="javascript:void(0)" class="close">x</a>

		<h3>注册</h3>
		<form method="post" id="myform" action="">
			<div class="row">
				<label for="username-2"> 用户名:
					<input type="text" name="loginName" id="username-2" placeholder="8-20位，以字母开头"/>
					<span id="msg"></span>
				</label>
			</div>
			<div class="row">
				<label for="phoneNum"> 手机号:
					<input type="text" name="mobile" id="phoneNum" placeholder="手机号码"/>
					<a id="authCodemsg">获取验证码</a>
				</label>
			</div>
			<div class="row">
				<label for="code"> 验证码:
					<input type="text" name="code" id="code" placeholder="手机短信验证码"/>
					<span id="msg2"></span>
				</label>
			</div>
			<div class="row">
				<label for="password-2"> 密码:
					<input type="password" name="password" id="password-2"
						   placeholder="请以字母开头，长度在6~18之间，只能包含字母、数字和下划线"/>
				</label>
			</div>
			<div class="row">
				<label for="repassword-2"> 确认密码:
					<input type="password" id="repassword-2" placeholder="请再次输入密码"/>
				</label> <span id="msg1"></span>
			</div>
			<div class="row">
				<button type="button" onclick="register()">注册</button>
			</div>
		</form>
	</div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
				<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<a href="/movie/getIndexMovies"><img class="logo" src="/static/img/front/logo1.png" alt="" width="119" height="58"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="dropdown first">
						<a href="/movie/getIndexMovies">
							首页</i>
						</a>
					</li>
					<li class="dropdown first">
						<a href="/movie/toMovieGrid">电影</a>
					</li>
					<li class="dropdown first">
						<a href="/cele/toCeleGrid">知名演员</a>
					</li>

					<li class="dropdown first">
						<a href="javaScript:void(0)">社区</a>
					</li>
				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">

					<li><a href="#">帮助</a></li>

					<li class="loginLink" th:if="${session.user == null}"><a href="javascript:void(0)">登录</a></li>
					<li class="btn signupLink" th:if="${session.user == null}"><a href="javascript:void(0)">注册</a></li>
					<li class="dropdown first" th:if="${session.user != null}">
						<a class="btn btn-default " th:text="'欢迎登录'+${session.user.userName}">
							${sessionScope.user.loginName}</a></li>
					<li class="dropdown first" th:if="${session.user != null}">
						<a class="btn btn-default " href="/user/toUserCenter"> 个人中心 </a></li>

					<li class="dropdown first" th:if="${session.user != null}">
						<a class="btn btn-default " onclick="exit()">退出</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<!-- top search form -->
		<!-- <div class="top-search">
             <select>
                 <option value="united">TV show</option>
                 <option value="saab">其他</option>
             </select>
             <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
         </div>-->
	</div>
</header>
<!-- END | Header -->
<input type="hidden" id="movieId" th:value="${movie.movieId}">
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img th:src="'https://dfstest01.oss-cn-beijing.aliyuncs.com/img/movies/'+${movie.movieId}+'.jpg'" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> 观看预告片</a></div>
							<div><a href="https://www.youtube.com/watch?v=lRLJkDEfFP8" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						<div class="btn-transform transform-vertical">
							<div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> 立即观看 </a></div>
							<div><a href="https://dfstest01.oss-cn-beijing.aliyuncs.com/video/movies/26363254.mp4" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd" th:utext="${movie.name}"></h1>
					<input type="hidden" id="userId" th:value="${session.user == null ? '' : session.user.userId}">
					<div class="social-btn">
						<a href="JavaScript:void(0)" id="addCollect" class="parent-btn" onclick="addCollect()"><i
								class="ion-heart"></i><span id="userCollectText">添加到收藏夹</span></a>
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span th:text="${movie.rate}"></span> /10<br>
								<span class="rv" th:text="${movie.collectCount}+'人收藏'"></span>
							</p>
						</div>
						<div class="rate-star">
							<p>  电影评分 </p>
							<i class="ion-ios-star" th:if="${movie.rate != 0}" th:each="m : ${#numbers.sequence(1,movie.rate)}"></i>

							<i class="ion-ios-star-outline"  th:if="${movie.rate < 10}" th:each="m : ${#numbers.sequence(movie.rate,9) }"></i>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">概览</a></li>
								<li><a href="#reviews"> 评论 </a></li>
								<li><a href="#moviesrelated"> 电影推荐 </a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p th:utext="${movie.movieInfo}"></p>
											<div class="title-hd-sm">
												<h4>主演</h4>

											</div>
											<!-- movie cast -->
											<div class="mvcast-item" id="actorItem">

											</div>
											<div class="title-hd-sm">
												<h4>用户评论</h4>
												<a href="#reviews" id="areviews" class="time">查看所有评论<i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie user review -->
											<div id="commentItem1">
											</div>
										</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>导演: </h6>
						            			<p id="driItem"></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>编剧: </h6>
						            			<p id="writerItem"></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>主演: </h6>
						            			<p id="starItem"> </p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>类型:</h6>
						            			<p ><a href="#" th:each="t,iterStat: ${movie.typeList}" th:text="${iterStat.last} ? (${t.typeName}):(${t.typeName}+' , ')"></a></p>
						            		</div>
						            		<div class="sb-it" th:if="${movie.releaseDate != null and #dates.format(movie.releaseDate, 'yyyy-MM-dd') != '1500-01-01'}"  >
						            			<h6>上映时间 :</h6>
						            			<p  th:text="${#dates.format(movie.releaseDate, 'yyyy-MM-dd')}"></p>
						            		</div>
						            		<div class="sb-it" th:if="${movie.alias != null}">
						            			<h6>别名:</h6>
						            			<p th:text="${movie.alias}"></p>
						            		</div>
						            		<div class="sb-it" th:if="${movie.imdbId != null}">
						            			<h6>IMDb id:</h6>
						            			<p th:text="${movie.imdbId}"></p>
						            		</div>
						            		<div class="ads">
												<img src="/static/img/front/uploads/ads1.png" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>相关的电影：</h3>
						       	 				<h2 th:utext="${movie.name}"></h2>
							            	</div>
							            	<a href="javaScript:void(0)" id="writeComm" class="redbtn">发表评论</a>
						            	</div>
									   <script type="text/javascript">
										   $("#writeComm").click(function(){
											   var userId = $("#userId").val();
											   if("" === userId){
												   $("#login-content").parents($(".overlay")).addClass("openform");
												   $(document).on('click', function(e){
													   var target = $(e.target);
													   if ($(target).hasClass("overlay")){
														   $(target).find( $("#login-content")).each( function(){
															   $(this).removeClass("openform");
														   });
														   setTimeout( function(){
															   $(target).removeClass("openform");
														   }, 350);
													   }
												   });
												   return;
											   }
											   $(".review-div").slideToggle(500);
										   })
									   </script>
									   <div class="review-div">
										   <iframe frameborder="0" scrolling="no" th:replace="SubComms::html" name="comments" width="80%" height="500px"></iframe>
									   </div>
						            	<div class="topbar-filter">
											<p>总共找到 <span id="reviewTotal"></span>  评论 </p>
											<label>排序:</label>
											<select id="orderBy" onchange="getCommentsById()">
												<option value="rate DESC">好评优先</option>
												<option value="rate ASC">差评优先</option>
												<option value="date DESC">时间降序</option>
												<option value="date ASC">时间升序</option>
											</select>
										</div>
									   <div id="commentItem2">

									   </div>
										<div class="topbar-filter">
											<label>每页:</label>
											<select id="size" onchange="getCommentsById()">
												<option value="5">5 条评论</option>
												<option value="10">10 条评论</option>
											</select>
											<div class="pagination2">

											</div>
										</div>
						            </div>
						        </div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>与<span th:utext="${movie.name}"></span>相关的电影：</h3>
										<img id="pload" style="position: relative;top:20px;left: 100px;" src="/static/img/front/ajax.gif" width="200px" height="200px">
										<div id="relatedMovies">
										</div>
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="/movie/getIndexMovies"><img class="logo" src="/static/img/front/logo1.png" alt=""></a>
				<p>翻斗大街翻斗花园<br>
					二号楼1001</p>
				<p>致电我们: <a href="#">(+01) 123456789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>资源</h4>
				<ul>
					<li><a href="#">关于</a></li>
					<li><a href="#">大片</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">论坛</a></li>
					<li><a href="#">博客</a></li>
					<li><a href="#">帮助中心</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>法律</h4>
				<ul>
					<li><a href="#">使用条款</a></li>
					<li><a href="#">隐私政策</a></li>
					<li><a href="#">安全</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>账户</h4>
				<ul>
					<li><a href="#">我的账户</a></li>
					<li><a href="#">监视清单</a></li>
					<li><a href="#">收藏</a></li>
					<li><a href="#">用户指南</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>通讯</h4>
				<p>立即订阅我们的新闻通讯系统， <br> 以获取我们的最新新闻。</p>
				<form action="#">
					<input type="text" placeholder="你的电子邮箱...">
				</form>
				<a href="#" class="btn">现在订阅<i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2017 MH. All Rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>. Designed by
				ws.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">回到顶部 <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->


<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/plugins2.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>