<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
   
    <base href="<%=base%>">
    <!-- Basic need -->
    <title>电影点评</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">
    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="/static/css/back/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/back/css/iconfont.css"/>
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/back/framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css"/>
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="/static/css/back/css/jquery.mCustomScrollbar.css"/>
    <script src="/static/js/back/framework/jquery-ui-1.10.4.min.js"></script>
    <script src="/static/js/back/framework/jquery.mousewheel.min.js"></script>
    <script src="/static/js/back/framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="/static/js/back/framework/cframe.js"></script>
    <!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->
    <!--Google Font-->
    <link rel="stylesheet"
          href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="/static/css/plugins.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        #movieItem img {
            width: 170px;
            height: 250px;
        }
        #pageadd{
            width:400px;
            /* border:1px solid red; */
        }

        button a{
            color:white;
        }
        button{
            magin-left:-50px;
        }

        .page {
            margin: 100px auto;
            width: 590px;
        }
        .row {
            margin-left: -30px;
            margin-right: -15px;
        }
        .textColor{
            color:#666666;
        }
        #skip{
            background-color:#0A2C4B;
            float:left;
            color:white;
            border: 0;
            width:125px;
            height:10px;
        }
        .layui-btn {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
        #aColor a:hover{
            color:white;
        }
        .layui-btn1 {
            background-color: #1E9FFF;

        }
        .sidebar .sb-title {
            font-family: 'Dosis', sans-serif;
            font-size: 18px;
            color: black;
            text-transform: uppercase;
            margin-bottom: 30px;
            padding-bottom: 15px;
            border-bottom: 1px solid #405266;
        }
        .movie_list .movie-item-style-2 img,
        .movie_single .movie-item-style-2 img,
        .userfav_list .movie-item-style-2 img {
            width: 30%;
        }
        .magin{
            margin-top:50px;
        }
        .distance{
            margin-top:20px;
        }
    </style>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/plugins2.js"></script>
    <script src="/static/js/custom.js"></script>
    <script>
        $(function() {
            getMoviesByPage(1);

            $("#MovieGridPage a").click(function () {
                var s = $(this).text();
                if(s !== '>' && s !== '<' && s!=='确定'){
                    getMoviesByPage(s);
                }
            })
        });

        function getMoviesByPage(page){
            var vo = {
                "name" : $("#movieName").val(),
                "minScore" : $("#minScore").val(),
                "maxScore" : $("#maxScore").val(),
                "earlyDate" : $("#earlyDate").val(),
                "latedDate" :$("#lateDate").val(),
                "page" : page,
                "size" : $("#size").val(),
                "orderBy" : $("#orderBy").val()
            };
            vo.type = $("#type").val();
            vo.region = $("#region").val();

            $.ajax({
                type: "POST",
                url: "/movie/getMoviesByPage",
                data:JSON.stringify(vo),
                dataType:"json",
                contentType: "application/json",
                success: function (pageInfo) {
                    $("#totalMovies").text(pageInfo.total+' 条');
                    var s = '';
                    for(var i = 0;i < pageInfo.list.length; i++){
                        var movie = pageInfo.list[i];
                        s+='<div class="movie-item-style-2 movie-item-style-1">'+
                            '<img src="https://dfstest01.oss-cn-beijing.aliyuncs.com/img/movies/'+movie.movieId+'.jpg" alt="" style="width: 170px; height: 230px" >'+
                            '<div class="hvr-inner">'+
                            '<a  href="/movie/getMovieById?movieId='+movie.movieId+'"> 了解更多 <i class="ion-android-arrow-dropright"></i> </a></div>'+
                            '<div class="mv-item-infor">'+
                            '<h6><a href="#">'+movie.name+'</a></h6>'+
                            '<p class="rate"><i class="ion-android-star"></i><span>'+movie.rate+'</span> /10</p></div></div>';
                    }
                    $("#moviesItem").html(s);
                    $("#pageNum").val(pageInfo.pages);
                    PagingManage(pageInfo.pages,pageInfo.pageNum);
                }
            });
        }
        function goto() {
            var s = $("#goto").val();
            var re = /^[0-9]+.?[0-9]*/;//判断字符串是否为数字//判断正整数/[1−9]+[0−9]∗]∗/;//判断字符串是否为数字//判断正整数/[1−9]+[0−9]∗]∗/

            if (!re.test(s)) {
                alert("页码不存在");
                return;
            }

            if(s > $("#pageNum").val() || s <= 0){
                alert("页码不存在");
                return;
            }
            $("#goto").val('');
            getMoviesByPage(s)
        }

    </script>
</head>
<script>
</script>
<body>
<div class="cBody">

    <div class="">
        <div class="container magin textColor">
            <div class="row ipad-width">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="topbar-filter">
                        <input type="hidden" id="pageNum">
                        <p>总共找到 <span id="totalMovies">1,608 </span> 电影</p>
                        <label>排序:</label>
                        <select id="orderBy" onchange="getMoviesByPage(1)">
                            <option value="collect_count DESC">人气降序</option>
                            <option value="collect_count">人气升序</option>
                            <option value="rate DESC">评分降序</option>
                            <option value="rate">评分升序</option>
                            <option value="release_date DESC">时间降序</option>
                            <option value="release_date">时间升序</option>
                        </select>
                        <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                        <a  href="javaScript:void(0)" class="grid"><i class="ion-grid active"></i></a>
                    </div>
                    <div class="flex-wrap-movielist" id="moviesItem">

                    </div>
                    <div class="topbar-filter">
                        <label for="size" style="width: 80px">每页:</label>
                        <select id="size" onchange="getMoviesByPage(1)">
                            <option value="8">8 条</option>
                            <option value="16">16 条</option>
                        </select>

                        <div class="pagination2" id="MovieGridPage">

                            <a href="javaScript:void(0)" id="mPrePage">&lt;</a>
                            <a href="javaScript:void(0)" id="p1">1</a>
                            <span id="mPrePoint">...</span>
                            <a href="javaScript:void(0)" id="p2">2</a>
                            <a href="javaScript:void(0)" id="p3">3</a>
                            <a href="javaScript:void(0)" id="p4">4</a>
                            <a href="javaScript:void(0)" id="p5">5</a>
                            <a href="javaScript:void(0)" id="p6">6</a>
                            <span id="mSufPoint">...</span>
                            <a href="javaScript:void(0)" id="p7">79</a>
                            <a href="javaScript:void(0)" id="mSufPage">&gt;</a>
                            <input id="goto" placeholder="&nbsp;&nbsp;跳转到">
                            <a href="javaScript:void(0)" onclick="goto()">确定</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 textColor">
                    <div class="">
                        <div class="">
                            <h4 class="sb-title">搜索电影</h4>
                            <form class="form-style-1" action="#">
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <label for="movieName">电影名称</label>
                                        <input id="movieName" type="text" placeholder="输入关键字">
                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label for="type">电影类型</label>
                                        <div class="group-ip">
                                            <select name="type" id="type" multiple="" class="ui fluid dropdown">
                                                <option value="">-- 选择电影类型 --</option>
                                                <option th:each=" type : ${application.typeList}" th:value="${type.typeId}" th:text="${type.typeName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label for="region">电影地区</label>
                                        <div class="group-ip">
                                            <select name="region" id="region" multiple="" class="ui fluid dropdown">
                                                <option value="">-- 选择电影地区 --</option>
                                                <option th:each=" re : ${application.regionList}" th:value="${re.regionId}" th:text="${re.regionName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>评分范围</label>
                                        <select name="minScore" id="minScore" >
                                            <option value="0">-- 选择最低评分 --</option>
                                            <option th:each="i,stat: ${#numbers.sequence(0,8)}" th:value="${stat.count}" th:text="${stat.count}"></option>
                                        </select>
                                        <select name="maxScore" id="maxScore">
                                            <option value="10">-- 选择最高评分 --</option>
                                            <option th:each="i,stat: ${#numbers.sequence(0,8)}" th:value="${(stat.count+1)}" th:text="${(stat.count+1)}"></option>
                                        </select>
                                    </div>

                                    <div class="col-md-12 form-it">
                                        <label>发行年份</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select name="earlyDate" id="earlyDate">
                                                    <option value="1500">从</option>
                                                    <option value="1900">1900</option>
                                                    <option value="1900">1920</option>
                                                    <option value="1940">1940</option>
                                                    <option value="1960">1960</option>
                                                    <option value="1980">1980</option>
                                                    <option value="2000">2000</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select name="lateDate" id="lateDate">
                                                    <option value="2100">至</option>
                                                    <option value="1920">1920</option>
                                                    <option value="1940">1940</option>
                                                    <option value="1960">1960</option>
                                                    <option value="1980">1980</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2020">2020</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <input class="submit" type="button" value="提交" onclick="getMoviesByPage(1)">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>